<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>申能官网</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <header>
            <p>欢迎光临申能财险官网!</p>
            <div class="header-center">
                <div class="logo">
                    <img src="../img/logo.png" alt="">
                </div>
                <div class="search_box">
                    <div class="search_top">
                        <input type="text" placeholder="请输入关键字">
                        <span></span>
                    </div>
                    <div class="search_key">
                        <p>热门关键字：</p>
                        <div> 车险 </div><span>|</span>
                        <div> 申能财险</div><span>|</span>
                        <div> 理赔流 </div><span>|</span>
                        <div>保单验真 </div>
                    </div>
                </div>
                <div class="hot_tel">
                    <img src="../img/hot_tel.png" alt="">
                </div>
            </div>
    
    
        </header>
        <div class="nav_wrap">
            <ul id="tab-tilte" class="tab-tilte">
                <li >
                    <a href="../index.html">首页</a>
                </li>
                <li class="active">
                    <a href="./server.html">客户服务</a>
                </li>
                <li>
                    <a href="./information.html">公开信息披露</a>
                </li>
                <li>
                    <a href="./about.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/banner.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/banner.png" class="d-block w-100" alt="...">
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            </button>
          </div>
        <main>
            <div class="content">
    
                <div class="alt_about">
                    <div>关于申能财险</div>
                    <span></span>
                    <p>ABOUT SHENERGY PROPERTY& <br> CASUALTY INSURANCE</p>
                </div>
                <div class="about_box">
                    <div class="about1">
                        <div><img src="../img/image_about1.png" alt=""></div>
                        <div class="about_txt">
                            <h3>公司介绍</h3>
                            <div>
                                <p>申能财产保险股份有限公司（筹）[以下简称“申能财险（筹）”]于2023年9月14日正式获得国家金融监督管理总局筹建批复（金复〔2023〕261号）。</p>
                                <p>申能财险（筹）注册资本100亿元人民币，注册地为上海市临港新区，由申能投资管理有限公司、上海国际集团有限公司、上海临港园金投资有限公司、上海临港新片区私募基金管理有限公司、台州市国有资产投资集团有限公司、申能股份有限公司、上海国投资本管理有限公司、百联集团有限公司8家国有企业共同发起筹建。
                                </p>
                            </div>
                            <span>
                            </span>
    
                        </div>
                    </div>
                    <div class="about1">
    
                        <div class="about_txt">
                            <!-- <h3>公司公告</h3> -->
                            <div style="margin-top: 2rem;">
                                <p>未来申能财险将发挥股东的专业优势，立足长三角、服务全国，加强与新能源、新技术和新业态企业的合作，为客户提供一揽子风险保障方案。公司还将围绕客户及绿色产业链的保障与风险管理需求，创新更多绿色保险和风险减量服务，建立可持续的合作关系。
                                </p>
                                <p>同时，公司将坚持合规经营，坚持稳中求进，以改革创新为动力，以提高精细化运营与资源配置水平为抓手，以渠道、产品、区域、客户结构优化为主线，推动和实现企业的高质量发展。</p>
                            </div>
                            <span>
    
                            </span>
    
                        </div>
                        <div><img src="../img/image_about2.png" alt=""></div>
                    </div>
    
    
                </div>
            </div>
        </main>
        <div class="news">
            <div class="news-container">
                <ul id="news-tilte" class="news-tilte">
                    <li class="active">申能新闻</li>
                    <li>公益活动</li>
                    <li>行业资讯</li>
                    <div class="news_more">
                        更多
                    </div>
                </ul>
                <div class="news-content" id="news-content">
                    <div class="new_left_img">
                        <img src="../img/news_bg.jpg" alt="">
                    </div>
                    <ul class="new_right_context">
                        <li>
                            <div class="new_title">
                                甘肃分公司推出五项理赔应急举措迅速应对临夏积石山6.2级地震
                            </div>
                            <div class="new_date">2023-12-18</div>
                        </li>
                        <li>
                            <div class="new_title">
                                安徽亳州中支荣获“亳州市劳动保障诚信A级单位”荣誉称号
                            </div>
                            <div class="new_date">2023-11-30</div>
                        </li>
                        <li>
                            <div class="new_title">
                                陕西西安中支举办反洗钱专题培训
                            </div>
                            <div class="new_date">2023-11-20</div>
                        </li>
                        <li>
                            <div class="new_title">
                                快速理赔显诚信 真诚服务暖人心——湖南桃江支公司获赠锦旗
                            </div>
                            <div class="new_date">2023-10-01</div>
                        </li>
                        <li>
                            <div class="new_title">
                                黑龙江分公司积极应对暴雪灾害天气
                            </div>
                            <div class="new_date">2023-09-01</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <p>友情链接: <span>国家金融监督管理总局</span> &nbsp;<span>中国保险行业协会</span>&nbsp;<span>保险消费者知识园地</span></p>
            <hr>
            <div class="footer_con">
                <div>
                    <h3>关于我们</h3>
                    <div style="display: flex;">
                        <span style="margin-right: 3.125rem;">
                            <p>公司介绍 </p>
                            <p>信访投诉</p>
                        </span>
                        <span>
                            <p>联系我们</p>
                            <p>机构网点</p>
                        </span>
                    </div>
                </div>
                <div>
                    <h3>企业社会责任</h3>
                    <p>企业公示</p>
                    <p>公开信息披露</p>
                </div>
                <div>
                    <h3>帮助中心</h3>
                    <p>法律安全</p>
                    <p>使用说明</p>
                </div>
                <div class="footer_logo"><img src="../img/logo.png" alt=""></div>
            </div>
            <div class="footer_bg"></div>
    
        </footer>
        
    </div> 
    
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>


<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
   
    function setRem() {
       
        baseSize = 16;
        let basePc = baseSize / 1920; // 表示1920的设计图,使用100PX的默认值
        let vW = window.innerWidth; // 当前窗口的宽度
        let vH = window.innerHeight; // 当前窗口的高度
        // 非正常屏幕下的尺寸换算
        let dueH = vW * 1080 / 1920
        if (vH < dueH) { // 当前屏幕高度小于应有的屏幕高度，就需要根据当前屏幕高度重新计算屏幕宽度
            vW = vH * 1920 / 1080
        }
        let rem = vW * basePc; // 以默认比例值乘以当前窗口宽度,得到该宽度下的相应font-size值
        document.documentElement.style.fontSize = rem + "px";
    }
    // 初始化
    setRem();
    // 改变窗口大小时重新设置 rem
    window.onresize = function () {
        setRem()
    };

    $('#tab-tilte li').click(function () {
        $(this).css({ 'background': 'green', 'color': '#fff' })
        // $(this).children().css({'color': '#fff' })
        // $(this).siblings().children().css({ 'color': '#4d4d4d' })
    }, function () {
        // $(this).css('background','block')
    })
    $('#news-tilte li').bind('click', function () {
        $(this).addClass('active').siblings().removeClass('active');
    })
    $('#news-tilte li').hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        // $(this).css({'background':'green','color':'#fff'}).siblings().css({'background':'none','color':'#4d4d4d'})
    })
    // $(function () {
    //     // 隐藏后两个选项卡
    //     $("#content div[id!=content1]").hide();
    //     $("#tab li").click(function () {
    //         // 先删除所有的选项卡的边框样式
    //         $("#tab li").removeClass("current")
    //         // 当前选项卡添加边框样式
    //         $(this).addClass("current");

    //         //先隐藏所有的选项卡
    //         $("#content div").hide();
    //         //获取当前下标
    //         var currentIndex = $(this).index();
    //         //再显示当前的选项卡
    //         $("#content div").eq(currentIndex).show();
    //     })
    // })

   

    // $('#tab-tilte li').click(function () {

    //     var cur = $(this).index(); //获取当前点击tab标题的索引值
    //     tabFun(cur);//调用方法
    // });
   
    // function tabFun(cur) {

    //     $('#tab-tilte li').eq(cur).addClass('active').siblings().removeClass('active');
    //     $('#tab-content div').eq(cur).addClass('cur').siblings().removeClass('cur');

    // }
    


</script>
</html>